$primary-color: darkmagenta;
$secondary-color: green;

h1 {
  color: $primary-color;
}

#hello-world {
  color: $secondary-color;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
  font-weight: bold;
}
